
<div class='container'>
  <div class =row>
   <% @cocktails.each do |cocktail| %>
    <div class='col-xs-12 col-sm-3'>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1542849187-5ec6ea5e6a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80)">
     <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
    </div>
  <% end %>



  </div>
  <%= link_to 'Create Cocktail', new_cocktail_path %>
</div>
